/* styles/style.css */

/* Reset and base styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, yellow, white, yellow);
}

.header .social-links a, .header .book-now a, .header nav ul li a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.header .logo img {
    max-width: 150px; /* Increased size */
    justify-content: center;
}

/* Footer styles */
.footer {
    padding: 20px;
    background-color: yellow;
    color: black;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer .footer-left, .footer .footer-right {
    font-size: 0.9em;
}

.footer .footer-center {
    font-size: 1.1em;
    font-weight: bold;
}

/* Main content styles */
.full-width-image {
    width: 100%;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}
